<div class="row-fluid" ng-controller="recipesController">
	<h2 class="col-md-12">Recipes Controller Index</h2>

  <form role="form" class="form-inline col-md-12 addRecipeForm" name="addRecipeForm" ng-submit="addRecipe()">
    <div class="form-group">
      <label>Add New:</label>
      <input class="form-control" ng-model="newRecipe.title" placeholder="Title" />
      <input class="form-control" ng-model="newRecipe.description" placeholder="Description" />
      <button class="btn" type="submit">Add</button>
    </div>
  </form>

  <div class="col-md-12 table recipes">
      <div class="row-fluid headers">
        <span class="col-md-3">Name</span>
        <span class="col-md-3">Description</span>
        <span class="col-md-3"></span>
        <span class="col-md-3">Actions</span>
      </div>
      <div class="row-fluid recipe" ng-repeat="recipe in recipes">
        <span class="col-md-3">
          <span ng-show="!quickEditRecipe">{{recipe.title}}</span>
          <span ng-show="quickEditRecipe" class="form-inline">
            <input class="form-control" ng-model="recipe.title" ng-value="recipe.title" />
          </span>
        </span>
        <span class="col-md-3">
          <span ng-show="!quickEditRecipe">{{recipe.description}}</span>
          <span ng-show="quickEditRecipe" class="form-inline">
            <input class="form-control" ng-model="recipe.description" ng-value="recipe.description" />
          </span>
        </span>
        <span class="col-md-3">
          <button class="btn" ng-show="quickEditRecipe" ng-click="recipes.$save(recipe); quickEditRecipe = false;">Save</button>
        </span>
        <span class="col-md-3">
          <button class="btn btn-info" ng-click="quickEditRecipe = true">Quick Edit</button> 
          <a ng-href="#/recipes/edit/{{recipe.$id}}"><button class="btn btn-info">Edit</button></a>
          <button class="btn btn-danger" ng-click="deleteRecipe(recipe)">Delete</button>
        </span>
        <div edit-recipe recipe="editRecipe" recipes="recipes" ng-show="editRecipe" class="col-md-12">
        </div>
      </div>
  </div>
</div>